

To specify the SOCKS5 proxy server:

1. Set the `all_proxy` environment variable, as in the example below:

    ```
    all_proxy=socks5://socks_proxy.example.com
    ```

<p class="note"><strong>Note:</strong> The <code>cf ssh</code> command for cf CLI v7 does not work through a SOCKS5 proxy.</p>


## <a id="mac-linux"></a> Set https_proxy in Mac OS or Linux

To set the `https_proxy` environment variable in Mac OS or Linux:

1. Use the command specific to your shell. For example, in bash, use the `export` command, as in the example below:

    ```
    export https_proxy=http://my.proxyserver.com:8080
    ```

1. To make this change persistent, add the command to the appropriate profile file for the shell. For example, in bash, add a line like example below to your `.bash_profile` or `.bashrc` file:

    ```
    https_proxy=http://username:password@hostname:port
    export $https_proxy
    ```


## <a id="windows"></a> Set https_proxy in Windows

To set the `https_proxy` environment variable in Windows:

1. Open the **Start** menu.

1. Right-click **Computer** and select **Properties**.

    <%= image_tag("./images/properties.png") %>

1. In the left pane of the **System** window, click **Advanced system settings**.

    <%= image_tag("./images/adv-settings.png") %>

1. In the **System Properties** window:
    1. Select **Advanced**.
    1. Click **Environment Variables**.

    <%= image_tag("./images/env-var.png") %>

1. Under **User variables**, click **New**.

    <%= image_tag("./images/new.png") %>

1. For **Variable name**, enter `https_proxy`.

1. For **Variable value**, enter your proxy server information.

    <%= image_tag("./images/proxy.png") %>

1. Click **OK**.
